page-aviso-off {

  .blur {
        background: url(../assets/imagens/fundo.jpg);
        height: 120%;
        width: 120%;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
        filter: blur(3px);
        background-size: cover;
    }
    .avisoOff {
    padding: 58px;
    margin-top: 141px;
}
}
