<ion-content no-padding>
  <div class="admin" (click)="adminOptions()">
    <button ion-button icon-only clear color="light" *ngIf="name == 'Jameson'" >
      <ion-icon name="settings"></ion-icon>
    </button>
  </div>

  <div class="left" >
    <button ion-button icon-only clear color="light"  (click)="exit()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </div >
  <div class="blur"></div>
  <!-- <div >
    <h1 class="titulo">Estamos Fechados</h1>
    <h2 class="subTitulo">Nossos Horários de Funcionamento</h2>
    <h3 class="subdescricao" text-wrap>
      Quinta apartir das 18h
    </h3>
    <h3>Sexta apartir das 18h
    </h3>
    <h3>
      Sábado apartir das 18h
    </h3>
    <h3>
      Domingo apartir das 18h
    </h3>
  </div> -->
  <div >
    <p text-wrap class="chamada">{{name}} o que deseja comer hoje?</p>
    <div class="categoria" *ngFor="let item of categorias | orderBy:'titulo'" (click)="selecionarProduto(item)" tappable>
      <div class="imagem" [ngStyle]="{'background-image': 'url(' + item.foto + ')'}">
      </div>
      <p>
        {{item.titulo}}
      </p>
    </div>
  </div>


</ion-content>
