page-adm-nofication {

  ion-icon {
    display: inline-block;
    font-size: 2.2em;
}
ion-input.input.input.ng-valid.ng-dirty.ng-touched {
    font-size: 1.6em;
}
.label{
    margin: 13px 8px 13px 0;
    font-size: 1.8em;
}
.button-clear {
    border-color: transparent;
    color: #bd001c;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    margin: 25px -6px 11px;
}
 ion-icon {
    display: inline-block;
    font-size: 2.2em;
    padding: 9px 12px 8px;
}
}
