page-password-reset {

      .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: aliceblue;
}
.blur {

        position: absolute;
        top: 0px;
        z-index: -1;
         filter: blur(3px);
        background-size: cover;
   }
   img {
    max-width: 100%;
    border: 0;
    border-radius: 50%;
}
     .item.item-input.item-input-has-focus .item-inner,
.item.item-input.input-has-focus .item-inner {
  border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list .item-input.item-input-has-focus:last-child,
.list .item-input.input-has-focus:last-child {
  border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.grid{
      padding: 108px 1px 1px 0px;
}
.reset {
    margin: 30px 0px 0px;
}
.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

}
