page-visualizar-pedido {

   .item h2{
    font-weight: bold;
  }
  .alert .alert-wrapper {
    background-color: #458c58;
}
.env{
  background-color: #458c58;
}
.accpet{
  background-color: blue;
  color: #FFF;
}

}
